{% extends 'base/base_trainer.html' %}

{% block content%}
    <main class="flex-fill d-flex flex-column justify-content-center">
        <div class="row d-flex justify-content-center">
            <div class="col-6 col-md-4">
                <p class="text-center text-light">“Success is not the key to happiness. Happiness is the key to success. If you love what you are doing, you will be successful.” — Albert Schweitzer</p>
                <hr>
                <p class="text-center text-light">"Успіх не є ключем до щастя. Щастя є ключем до успіху. Якщо вам подобається те, що ви робите, ви будете успішними." — Альберт Швейцер</p>
            </div>
        </div>
    </main>
{% endblock %}